.wrapper {
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

.logo {
    transform: translateY(-5px) translateX(-20px);
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit {
    background-color: var(--main-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 15px;
    width: 100px;
    color: #fff;
    font-size: 13px;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



.header, .products, .form {
    background-color: #fff;
    border-radius: 15px;
    padding: 0 20px;
}



.products {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
}




.final-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #3a3a3a;
}

.button {
    position: fixed;
    width: 100vw;
    bottom: -10px;
    left: 0;
    animation: buttonFrom 0.3s forwards;
    height: 50px;
    //background-color: rgb(69, 201, 51);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@keyframes buttonFrom {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.error {
    color: #d90000;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 0;
    // position: absolute;
    // bottom: -20px;
    // left: 10px;
}

.input {
    appearance: none;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    color: var(--main-color);
    font-weight: 450;
    cursor: pointer;
    margin: 0 auto;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
        outline: none !important;
        //border: 2px solid var(--main-color) !important;
        box-shadow: 0px 0px 15px rgba($color: #3d50f5, $alpha: 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
}

.shablon {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 12px;
    width: 240px;
}

.adrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}