.open {
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    transform: translateX(340px);
    display: flex;
    justify-content: center;
    transform: translate(345px, 20px);
    align-items: center;
}