
.input-block {
    position: relative;
    margin: 0 auto;
}

.error {
    color: #d90000;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 0;
    // position: absolute;
    // bottom: -20px;
    // left: 10px;
}

.input {
    width: 300px;
    appearance: none;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    color: var(--main-color);
    font-weight: 450;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
        outline: none !important;
        //border: 2px solid var(--main-color) !important;
        box-shadow: 0px 0px 15px rgba($color: #3d50f5, $alpha: 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
}

.input-code {
    max-width: 300px;
    font-size: 20px;
    padding: 5.8px 50px 8px 20px;
    
    &_active {
        font-size: 1rem;
        padding: 10px 50px 10px 20px;
    }
}

.input-code::placeholder {
    font-size: 1rem !important;
}

.eye {
    width: 24px;
    height: 24px;
    stroke: var(--main-color);
    position: absolute;
    top: 12px;
    right: 20px;
    background-color: #fff;
    cursor: pointer;
}

.show {
    width: 22px;
    height: 22px;
    right: 21px;
    top: 13px;
}