.image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.input {
    appearance: none;
    all: unset;
    width: 300px;
    overflow: hidden;
}

.reset {
    font-weight: 500;
}