.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    z-index: 99999999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.text {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}

.menu {
    color: var(--main-color);
}

.navbar, .open {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 101vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 999;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.navbar {
    display: none;
    opacity: 0 !important;
}

.open {
    display: flex;
    opacity: 1 !important;
}