.logo-block {
    margin: 0 0 40px 0;
}

.logo {
    width: 400px;
}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.move-block {
    padding: 0 6px;
}

.link {
    color: var(--main-color);
    font-weight: 600;
}

.button {
    background-color: var(--main-color);
    padding: 10px 20px;
    font-size: 1.15rem;
    color: #fff;
    border-radius: 25px;
}